fastapi
uvicorn
pydantic[email]
python-dotenv
passlib[bcrypt]
bcrypt
python-jose
email-validator
pydantic-settings
python-multipart
pytest
pytest-asyncio
websockets
pyjwt
httpx
sqlalchemy
asyncpg
alembic